.terminal {
  width: 100%;
  max-width: 40rem;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
  border-radius: 1%;
  border: 0;

  &[open] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__inner {
    position: relative;
    background: get-color('dark');
    color: get-color('light');
    //padding: $global-gutter;
    padding-top: 1.4rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    padding-bottom: 0.85rem;
    flex-grow: 1;
    z-index: 1;
  }
}
