---
title: 'Contact'
siteHeadColor: 'primary'
siteHeadHighlight: 'light'
siteFootDecor: false
siteFootCTA: false
bodyTokens: 'bg-primary'
---

{% extends "layouts/base.njk" %}

{% block content %}
    <div class="[ contact-page ] [ wrapper flow ]" data-type="narrow">
        <h1>Let’s talk.</h1>
        <p class="font-mono flow-space-300">Our books are opening for '25/26.</p>
        <form name="contact" method="POST" class="flow" data-netlify="true">
            <div class="form-group">
                <label for="name">Your name <span class="color-light">*</span></label>
                <input name="full-name" type="text" id="name" required/>
            </div>
            <div class="form-group">
                <label for="email">Email address <span class="color-light">*</span></label>
                <input name="email-address" type="email" id="email" required/>
            </div>
            <div class="form-group">
                <label for="phone">Telephone number</label>
                <input name="telephone-number" type="tel" id="phone" />
            </div>
            <div class="form-group">
                <label for="deets">What do we wanna build? <span class="color-light">*</span></label>
                <textarea name="details" required rows="10" id="deets" placeholder="The more detail you can provide the better, but we can chat it out if you need help getting it right."></textarea>
            </div>
            <div class="[ ta-right ]">
                <button name="submit-button" class="[ link-button ] [ font-mono tt-upper ]" type="submit" value="send message">Send message</button>
            </div>
        </form>
    </div>
{% endblock %}