---
title: 'Home'
permalink: '/index.html'
---

{% extends "layouts/base.njk" %} 

{% block content %}
<div class="wrapper">
  <article class="hero">
    <h1 class="visually-hidden">A Human Future is a software laboratory.</h1>
    <div class="[ hero__title ] [ text-800 leading-flat ] [ fade-in ]" aria-hidden="true">
      <em>A Human Future</em>
      <div class="glitch-text" data-text="is a software laboratory.">is a software laboratory.</div>
    </div>
    <div class="[ hero__summary ] [ flow flow-space-300 ]">
      <p class="font-mono color-primary text-300 fade-in" aria-hidden="true" role="presentation">[Welcome]</p>
      <p class="fade-in">We build <em>products</em>, <em>platforms</em> and <em>prototypes</em> that help ambitious organisations pull the future towards them, faster.</p>
    </div>
    <footer class="hero__footer">
      <p class="font-mono color-primary text-300" aria-hidden="true" role="presentation">LONDON & ONLINE<sup> [2]</sup></p>
      <button class="[ link-button ] [ text-300 box-hidden md:box-inline-block ]" data-terminal="mainTerminal">Launch Terminal _></button>
      <dialog class="terminal" id="mainTerminal">
        <div class="[ terminal__inner ] [ flow ] [ flow-space-300 ]">
          <div class="[ terminal__header ] [ splitter ]">
            <div class="[ brand ] [ text-300 ]" role="presentation" aria-hidden="true">
              <span class="dot color-primary" role="presentation"></span>
              <span>> miniterm</span>
            </div>
            <button class="[ link-button ] [ font-mono text-300 color-primary ]" value="cancel">Close [x]</button>
          </div>
          <div class="text-300">
          <div class="miniterm-container">
              <header>
                  <div class="display-row">
                      <span class="login-time"></span>
                  </div>
                  <div class="display-row">
                      <span class="command-list"></span>
                  </div>
              </header>
              <div class="[ input-row ] [ terminal-container ] [ green-hl ]">
                  <span class="machine-name"></span>
              </div>
          </div>
          </div>
        </div>
      </dialog>
    </footer>
  </article>
</div>
<div class="wrapper" data-type="narrow">
  <article class="[ landing-page ] [ flow ]">
    <div class="landing-page__content-pair landing-page__region">
      <figure class="[ toggle-caption ] [ image-overlay-decor ] [ fade-in ]" data-theme="primary">
        <picture class="toggle-caption__media">
          <source srcset="/images/home-1.avif" type="image/avif" />
          <source srcset="/images/home-1.webp" type="image/webp" />
          <img src="/images/home-1.jpg" alt="Futuristic, dramatic image of man in an artistic style, designed to give the impression of humanity's interaction with technology." />
        </picture>
        <figcaption class="[ toggle-caption__content ] [ flow ] [ leading-flat flow-space-300 ]" data-direction="vertical" data-switch-text>
          <button class="[ link-button-invert ] [ font-mono text-300 color-light ]" aria-label="Translate" data-switch-trigger><blink>Translate ></blink></button>
          <p lang="ja" data-switch-content="A monk outside the gates can read sutras never studied" data-switch-lang="en">門前の小僧習わぬ経を読む</p>
        </figcaption>
      </figure>
      <section class="flow">
        <h2 class="[ eyebrow ] [ fade-in ]">Who we are</h2>
        <p class="fade-in">A Human Future is a boutique team of software developers, user experience specialists and product development experts.  HQ is in London, England, but that’s not usually important, because we're <em>extremely online</em> and work remotely all over the world.</p>
        <p class="fade-in">The project exists with a singular focus: to meet digital problems with human-first solutions, that help change the way that people interface with technology for the better.</p>
        <div class="[ image-overlay-decor ] [ fade-in ]">
          <picture class="flow-space-600">
            <source srcset="/images/home-2.avif" type="image/avif" />
            <source srcset="/images/home-2.webp" type="image/webp" />
            <img src="/images/home-2.jpg" alt="Futuristic image of an old television with an eye peering out of it - designed to convey a  relationship between sentient technology and humanity." />
          </picture>
          {{ circleText("we don't fear, we don't fear these machines", 'ghost-text')}}
        </div>
      </section>
    </div>
    <div class="landing-page__bridge">
      <h2 class="[ eyebrow ] [ fade-in ]">What we do</h2>
      <p class="visually-hidden">Move fast & make things.</p>
      <div class="[ headline ] [ text-800 flow-space-400 ] [ fade-in ]" aria-hidden="true">
        <span class="dot" role="presentation"></span>
        <div>
          <div class="glitch-text" data-text="Move fast &">Move fast & </div>
          <em> make things.</em>
        </div>
      </div>
    </div>
    <div class="[ landing-page__content-pair landing-page__region ] [ flow-space-800 ]">
      <section class="flow">
        <p class="fade-in">The best of the Internet is built by diverse teams of inventors, oddballs and misfits - ambitious, curious and motivated enough to make sense of any mess.</p>
        <p class="fade-in">We’re a small team by design, and the ethos is pure, sharp and principled: Trust-led client circle, tricky, collaborative problems, and clear, unambiguous results.</p>
        <p class="fade-in">Beyond that, we’re strongly committed to running an <em>ethical, no-bullshit</em> practice, and seek out partners that let us underwrite our work with that philosophy.  Technology itself isn’t the most important part of what comes next. The way that we wield it is.</p>
          <div class="flow-space-300">
      <p class="fade-in font-mono text-400 bg-dark color-light box-inline-block">The future's human.</p>
    </div>
      </section>
      <figure class="[ toggle-caption ] [ fade-in ]">
        <picture class="toggle-caption__media">
          <source srcset="/images/home-3.avif" type="image/avif" />
          <source srcset="/images/home-3.webp" type="image/webp" />
          <img src="/images/home-3.jpg" alt="Soft focus lights, like fairy lights, on a dark background." />
        </picture>
        <figcaption class="[ toggle-caption__content ] [ flow ] [ leading-flat flow-space-300 ]" data-switch-text>
          <p data-switch-content="When eaten alone, even bream becomes flavourless" data-switch-lang="en">鯛も一人はうまからず</p>
          <button class="[ link-button-invert ][ font-mono text-300 color-light ]" aria-label="Translate" data-switch-trigger><blink>Translate ></blink></button>
          <svg class="box-hidden md:box-block" width="277" height="18" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
            <path d="M.825 3.275H3v4.2h4.215v-4.2H9.39V14H7.215V9.275H3V14H.825V3.275zM268.825 3.275h7.68V5.12H271V7.7h4.665v1.86H271V14h-2.175V3.275z" fill="#00FF19"/>
            <path stroke="#00FF19" stroke-width="2" d="M22 1h233v16H22z"/>
            <path fill="#00FF19" d="M21 12h235v2H21zM21 8h235v2H21zM21 4h235v2H21z"/>
          </svg>
        </figcaption>
      </figure>
    </div>
    <marquee>
      <ul>
        <li>Hot, freshly-baked web apps here</li>
        <li>Books opening, get in touch</li>
        <li>Kneading the apps like digital dough</li>
        <li>Books opening, get in touch</li>
        <li>Putting the apps in the stone oven</li>
        <li>Books opening, get in touch</li>
        <li>Baking the apps like pizza, in Rome, in summer</li>
        <li>Books opening, get in touch</li>
        <li>Deploying the tasty 'za with love</li>
      </ul>
    </marquee>
    <div class="landing-page__bridge">
      <h2 class="[ eyebrow ] [ fade-in ]">How we do it</h2>
      <p class="visually-hidden">Care is the motive. Impact is the mantra.</p>
      <div class="[ headline ] [ text-800 flow-space-400 ] [ fade-in ]">
        <span class="dot" role="presentation"></span>
        <div>
          <em>Care is the motive,</em>
          <div class="glitch-text" data-text="& impact the mantra.">& impact the mission.</div>
        </div>
      </div>
    </div>
    <div class="landing-page__region landing-page__content-pair">
      <div class="fade-in">
        <a class="button text-500" href="/contact">Start your project!</a>
      </div>
      <section class="flow">
        <p class="fade-in">We build products, websites, platforms and apps in sectors like management consultancy, NLP and data science. It’s tricky work that takes care and consideration - in plan, execution and delivery.</p>
        <p class="fade-in">What our clients do is complex, but what they have in common is simple. They want to build <em>lean, tough</em> products to inspirational quality.</p>
      </section>
    </div>
    <h2 class="[ eyebrow ] [ fade-in ]">A world-class toolkit</h2>
    <div class="landing-page__close-out">
      <div class="[ headline ] [ text-800 flow-space-400 ] [ fade-in ]" aria-hidden="true">
        <span class="dot" role="presentation"></span>
        <div>
          <span class="glitch-text" data-text="Techno-">Techno-</span><br /><span class="glitch-text" data-text="babble.">babble.</span>
        </div>
      </div>
      <section class="flow">
        <p class="fade-in">We’re a mostly Python & Django house, but work with all sorts of other tools too - whatever’s the most appropriate for a given problem space.</p>
        <p class="fade-in">And we’re real champions of open-source - so our products have low running costs, are simple to extend, and can be supported by an expert community into the long-term.</p>
      </section>
      <aside class="flow">
        <p class="[ font-mono color-primary text-300 tt-upper ] [ fade-in ]" aria-hidden="true" role="presentation">Some Tech<sup> [7]</sup></p>
        <ul role="list" class="[ text-500 flow-space-300 ] [ fade-in ]">
          <li><em>Python</em></li>
          <li>Django</li>
          <li>JavaScript</li>
          <li>PostgreSQL</li>
          <li>Docker</li>
          <li>Digital Ocean</li>
       </ul>
     </aside>
   </div>
  </article>
</div>
{% endblock %}
